<div class="accordion">
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <button class="collapse-button" type="button" data-bs-toggle="collapse" data-bs-target="#categoryCollapse"
                    aria-expanded="false" aria-controls="categoryCollapse">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Restoran Türleri</h6>
                </button>
            </header>
            <div class="collapse multi-collapse scrollbar scrollbar-primary" id="categoryCollapse">
                <div class="card-body overflow-auto ">
                    <div class="form-check my-2" *ngFor="let category of categories">
                        <input class="form-check-input" type="checkbox" value="" id="{{'categoryCheck'+category.id}}" (click)="changeCheckedCategory($event,category.id)">
                        <label class="form-check-label" for="{{'categoryCheck'+category.id}}">
                            {{category.categoryName}}
                        </label>
                    </div>
                </div>
            </div>
        </article>
        <button routerLink="/restaurants" [queryParams]="{categoryId: selectedCategory.toString()}" (click)="applyFilter()" class="btn w-100 mt-3 btn-block btn-primary">Uygula</button>
    </div>
</div>
