.app{
    width: 100vw;
    background: lightblue;
    overflow-x: hidden;
    /* background-image: url("https://www.teahub.io/photos/full/287-2875596_pattern-wallpaper-tumblr-creative-fast-food-background-hd.jpg"); */
    
}